'.text.html.basic, .text.html.vue':
	'v-text':
		'prefix': 'text'
		'body': 'v-text="$1"$0'
	'v-html':
		'prefix': 'html'
		'body': 'v-html="$1"$0'
	'v-if':
		'prefix': 'if'
		'body': 'v-if="$1"$0'
	'v-show':
		'prefix': 'show'
		'body': 'v-show="$1"$0'
	'v-else':
		'prefix': 'else'
		'body': 'v-else'
	'v-for':
		'prefix': 'for'
		'body': 'v-for="$1 in $2"$0'
	'@click':
		'prefix': 'click'
		'body': '@click$1="$2"$0'
	'@submit':
		'prefix': 'submit'
		'body': '@submit$1="$2"$0'
	'@keyup':
		'prefix': 'keyup'
		'body': '@keyup$1="$2"$0'
	'enter':
		'prefix': 'enter'
		'body': 'enter'
	'tab':
		'prefix': 'tab'
		'body': 'tab'
	'delete':
		'prefix': 'delete'
		'body': 'delete'
	'esc':
		'prefix': 'esc'
		'body': 'esc'
	'space':
		'prefix': 'space'
		'body': 'space'
	'up':
		'prefix': 'up'
		'body': 'up'
	'down':
		'prefix': 'down'
		'body': 'down'
	'right':
		'prefix': 'right'
		'body': 'right'
	'left':
		'prefix': 'left'
		'body': 'left'
	'stop':
		'prefix': 'stop'
		'body': 'stop'
	'prevent':
		'prefix': 'prevent'
		'body': 'prevent'
	'capture':
		'prefix': 'capture'
		'body': 'capture'
	'self':
		'prefix': 'self'
		'body': 'self'
	':class':
		'prefix': 'class'
		'body': ':class="$1"$0'
	':style':
		'prefix': 'style'
		'body': ':style="$1"$0'
	':prop':
		'prefix': 'prop'
		'body': ':${1:prop}$2="$3"$0'
	'sync':
		'prefix': 'sync'
		'body': 'sync'
	'once':
		'prefix': 'once'
		'body': 'once'
	'v-model':
		'prefix': 'model'
		'body': 'v-model="$1"$0'
	'v-ref':
		'prefix': 'ref'
		'body': 'v-ref:$0'
	'v-el':
		'prefix': 'el'
		'body': 'v-el:$0'
	'v-pre':
		'prefix': 'pre'
		'body': 'v-pre$0'
	'v-cloak':
		'prefix': 'cloak'
		'body': 'v-cloak$0'
